body {
    margin: 0 auto;
    font-family: Arial;
    /* background: linear-gradient(90deg,#FF5EDF 0%,#04C8DE 80%); */
    background-image:url("bg3.jpg");
    background-size: cover;
}
.centerBox{
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* background-color: black; */
    background: rgba(255, 255, 255, .2);
    box-shadow: 0 5px 15px rgba(0,0,0, .5);
    border-color: aliceblue;
    border-radius: 10px;
    min-height: 200px;
}

.head-indexpage{
    background-color: ghostwhite;
    border-radius: 10px;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-style: italic;
}

.template-link{
    font-size: xx-large;
    color: yellow;
}